* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("background.jpg");
    justify-content: center;
    font-family: sans-serif;
    background-size: cover;
    
}

.boxes-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    background: rgba(0,0,0,0.5);
    border-radius: 8px;
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-right: 10px;
}

.letter {
    font-size: 35px;
    color: white;
}

.sound-name {
    margin-top: 3px;
    font-size: 13px;
    font-weight: 180;
    color: rgb(255, 213, 0);
}